[submodule "agent/libemu"]
	path = agent/libemu
	url = https://github.com/seduceIDS/libemu.git
[submodule "unicorn2"]
	path = agent/unicorn
	url = https://github.com/seduceIDS/unicorn2.git
[submodule "agent/libpe"]
	path = agent/libpe
	url = https://github.com/merces/libpe.git
